    swiper-container {
      width: 66%;
      height: 66%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 40%;
      height: 30%;
      object-fit: cover;
    }
    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }